<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>

<body class="grey-bg ">
    <%- include('nav.ejs') %>
        <input class="search">
        <button class="search-send">검색</button>

        <script>
            document.querySelector('.search-send').addEventListener('click', function () {
                let input = document.querySelector('.search').value
                location.href = '/search?val=' + input
            })    
        </script>

        <div class="white-bg">
            <% for (i=0; i < posts.length; i++) {%>
                <div class="list-box">
                    <h4>
                        <a href="/detail/<%= posts[i]._id %>">
                            <%= posts[i].title %>
                        </a>
                        <a href="/edit/<%= posts[i]._id %>">✏️</a>
                    </h4>
                    <p>
                        <%= posts[i].content %>
                    </p>
                </div>
                <% } %>
        </div>
        <a href="/list/next/<%= posts[posts.length - 1]._id %>">다음</a>

        <script>
            let eventSource = new EventSource('/stream/list')
            eventSource.addEventListener('msg', function (e) {
                console.log(e.data)
                let changeJson = JSON.parse(e.data)
                document.querySelector('.white-bg').insertAdjacentHTML('afterbegin', `<div class="list-box"><h4>${changeJson.title}</h4></div>`)
            })
        </script>
</body>

</html>